li{
  box-sizing: border-box;
  background-color:#f2f2f2;
  border-left:5px solid #003842;
  width:100%;
  margin:0.2em 0;
  padding:0.5em 0 0.5em 0.8em;
  list-style:none;
  color:#333;
  transition: 0.3s ease all;
  display:flex;
  justify-content: flex-start;
  align-items: center;
  input{
    margin: 0 1em;
  }
  &:hover{
    border-left: 10px solid $cMain;

  }
}

.calendarioanual{
  ul{
    max-height: 200px;
    overflow: scroll;
  }
}

.row{

}

.btnAdd{
  button{
    margin-top: 20px;
  }
}
