{% extends "base.html" %}
{% block content %}

<form action="container box">

  <div id="asignaturasprimero">
    <h3>Asignaturas primero</h3>
  </div>
  <div id="asignaturassegundo">
    <h3>Asignaturas segundo</h3>

  </div>
  <div id="asignaturastercero">
    <h3>Asignaturas tercero</h3>

  </div>
  <div id="asignaturasoptativas">
    <h3>Asignaturas optativas</h3>

  </div>
  <div id="asignaturascuarto">
    <h3>Asignaturas cuarto</h3>

  </div>
  <button type="button" id="btnAsignaturas">Generar horario</button>
</form>

<a download="calendario.ics" id="downloadlink" style="display: none">Download</a>
<span class="loading style-3 hidden"></span>
{% endblock %}
