{% extends "base.html" %}
{% block content %}
{% load staticfiles %}
<div class="enlaces">
 <a href="/calendarioanual" class="ira">Crear calendario</a>
  <a href="/horario" class="ira">Crear horario</a>
  </div>
  <main>
    <img src="{% static 'images/index.png' %}" alt="" height="379px" width="600px" class="index-img">
  </main>
  <div>
    <h2 class="ws-title">#ABJ</h2>
    <h4 class="ws-title"> WebServices Test</h4>
  </div>

  <div class="download-wrap">
  <div class="download">
    <a href="#" class="button-download">
      Calendario 16/17
      <span class="icon-wrap">
        <i class="icon-download"></i>
      </span>
    </a>

  </div>
</div>



{% endblock %}
