{% extends "base.html" %}
{% block content %}
  <div id="lab">
    <div id="beaker">
      <div class="beer-foam">
        <div class="foam-1"></div>
        <div class="foam-2"></div>
        <div class="foam-3"></div>
        <div class="foam-4"></div>
        <div class="foam-5"></div>
        <div class="foam-6"></div>
        <div class="foam-7"></div>
      </div>
      <div id="liquid">
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
      </div>
    </div>
  </div>
  <div>
    <h2 class="ws-title">#ABJ</h2>
    <h4 class="ws-title"> WebServices Test</h4>
  </div>

  {% if user.is_authenticated %}
  prueba
  {% else %}
  <a href="/calendarioanual">Crear calendario</a>
  {% endif %}

{% endblock %}
